@use "variables";
.footer {
  padding: 40px 16px;
  background: variables.$black;
  @media screen and (min-width: 1024px) {
    padding: 60px 64px;
  }
  &__title {
    display: none;
    text-align: center;
    color: white;
    @extend .inter-bold;
    @media screen and (min-width: 1024px) {
      display: block;
      max-width: 168px;
    }
  }
  &__title-web {
    display: block;
    @extend .inter-bold ;
    text-align: center;
    color: white;
    @media screen and (min-width: 1024px) {
      display: none;
    }
  }
  &__links {
    display: flex;
    flex-direction: column;
    @media screen and (min-width: 1024px) {
      flex-direction: row;
      gap: 100px;
    }
    li {
      margin-top: 12px;
      list-style: none;
      @extend .inter-regular;
      line-height: 150%;
      font-size: 14px;
      color: variables.$white;
      opacity: 0.7;
    }
  }
  &__link {
    margin-bottom: 32px;
  }
  &__link-name {
    @extend .inter-semibold;
    color: white;
    line-height: 150%;
    font-size: 16px;
  }
  &__bottom {
    margin-top: 32px;
    &-title {
      display: flex;
      @extend .inter-regular;
      opacity: 0.7;
      color: white;
      text-align: center;
    }
    &-icons {
      margin: 16px 0;
      display: flex;
      justify-content: center;
      gap: 16px;
    }
    &-right {
      display: flex;
      justify-content: center;
      gap: 16px;
      a {
        @extend .inter-regular;
        opacity: 0.7;
        color: white;
        text-align: center;
      }
    }
    @media screen and (min-width: 1024px) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
    }
  }
  &__upper {
    @media screen and (min-width: 1024px) {
      display: flex;
      justify-content: space-between;
    }
  }
}