@use "variables";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h2 {
  text-align: center;
  font-size: 32px;
  @extend .inter-bold;
  @media screen and (min-width: 1024px) {
    font-size: 48px;
  }
}

.header {
  padding: 16px;
  background: url("public/image/header.png") no-repeat center / cover;
  @media screen and (min-width: 1024px) {
    padding: 16px 64px;
  }
  header {
    display: flex;
    align-items: center;
  }
  &__logo {
    margin-right: auto;
  }
  h2 {
    margin-top: 40px;
    color: white;
    @media screen and (min-width: 1024px) {
      max-width: 1000px;
      margin: 24px auto 0;
    }
  }
  &__title {
    margin-top: 24px;
    @extend .inter-regular;
    font-size: 20px;
    text-align: center;
    color: white;
    @media screen and (min-width: 1024px) {
      max-width: 1000px;
      margin: 24px auto 0;
    }
  }
  &__btn {
    display: flex;
    justify-content: center;
    margin: 32px 0;
    button {
      width: 100%;
      @media screen and (min-width: 1024px) {
        max-width: 200px;
      }
    }
  }
  &__icons {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    gap: 20px;

    &::-webkit-scrollbar {
      display: none;
    }
    @media screen and (min-width: 1024px) {
      justify-content: space-between;
    }
  }
}

.small-cards-block {
  padding: 60px 16px;
  background: rgba(238, 238, 238, 1);
  display: flex;
  flex-direction: column;
  align-items: center;

  & > .link-block {
    margin: 32px auto;
    @media screen and (min-width: 1024px) {
      margin: 32px auto 52px;
    }
  }

  @media screen and (min-width: 1024px) {
    padding: 120px 64px;
  }

}

.small-cards {
  display: grid;
  grid-gap: 16px;
  @media screen and (min-width: 568px) {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 16px;
  }
  @media screen and (min-width: 1024px) {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 32px;
  }

  > *:nth-child(3) {
    background: variables.$white;
  }

  > *:nth-child(7) {
    background: rgba(222, 233, 72, 1);
  }

  > *:nth-child(6) {
    @media screen and (min-width: 1024px) {
      width: 100%;
      max-width: unset;
      grid-column: 2/4;
    }
  }
}





