@use "variables";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h2 {
  text-align: center;
  font-size: 32px;
  @extend .inter-bold;
  @media screen and (min-width: 1024px) {
    font-size: 48px;
  }
}

.small-cards-block {
  padding: 60px 16px;
  background: rgba(238, 238, 238, 1);
  display: flex;
  flex-direction: column;
  align-items: center;

  & > .link-block {
    margin: 32px auto;
    @media screen and (min-width: 1024px) {
      margin: 32px auto 52px;
    }
  }

  @media screen and (min-width: 1024px) {
    padding: 120px 64px;
  }

}

.small-cards {
  display: grid;
  grid-gap: 16px;
  @media screen and (min-width: 568px) {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 16px;
  }
  @media screen and (min-width: 1024px) {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 32px;
  }

  > *:nth-child(3) {
    background: variables.$white;
  }

  > *:nth-child(7) {
    background: rgba(222, 233, 72, 1);
  }

  > *:nth-child(6) {
    @media screen and (min-width: 1024px) {
      width: 100%;
      max-width: unset;
      grid-column: 2/4;
    }
  }
}

.big-cards-block {
  padding: 60px 16px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (min-width: 1024px) {
    padding: 120px 64px 0;
  }
}
.big-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 16px;
  @media screen and (min-width: 1024px) {
    flex-direction: row;
    justify-content: space-between;
    gap: 32px;
  }
  > * {
    margin-top: 16px
  }
  > *:nth-child(2) {
    background: url("/image/big_card_2.png") no-repeat center / cover;
  }
  > *:nth-child(3) {
    background: url("/image/big_card_3.png") no-repeat center / cover;
  }
}

.generate {
  padding: 60px 16px;
  @media screen and (min-width: 1024px) {
    padding: 120px 64px;
  }
}
