@use "variables";
.unlock {
  background: url("/public/image/unlock.png") no-repeat center / cover;
  padding: 60px 16px;
  h2 {
    color: variables.$white;
  }
  &__buttons {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    button {
      max-width: 412px;
      @media screen and (min-width: 1024px) {
        max-width: 146px;
      }
    }
    > *:nth-child(2) {
      margin-top: 16px;
      @media screen and (min-width: 1024px) {
        margin-top: 0;
        margin-left: 16px;
      }
    }
    @media screen and (min-width: 1024px) {
      flex-direction: row;
      justify-content: center;
      margin-top: 52px;
    }
  }
  @media screen and (min-width: 1024px) {
    padding: 100px 252px;
  }
}